
.header {
    padding-top: 10px;
    box-shadow: 0 1px 7px -2px #cccccc;
}
.logo > * {
    vertical-align: middle;
}

.menu{
    margin-left: 10px;
}
.logo-group{
    margin-top: 10px;
}
.logo-div{
    display: inline;
    margin-top: 10px;
}
.search{
}
.logo-image{
    margin-left: 25px;
}
.logo-text{
    display: inline;
    margin-left: -14px;
    font-size: 1.04rem !important;
}
.icons {
    float: right;
}
.video-player{
    width: 1180px;
    height: 670px;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 40px;
}
.main-title{
    margin-left: 80px;
}
.autoplay{
    margin-left: 40px;
}
.playlist-image{
    margin-right: 30px;
}
.playlist{
    margin-top: 40px;
}
.icons ul li{
    display: inline;
    margin: 10px 10px 0px 10px;
}
.icons ul li.avatar{
}
.icons ul {
    float: right;
}
.videoplayer{
}
.playlist{
}
input {
    border-radius: 1px !important;
}
.video-title h6{
    font-weight: bold;
}
.playlist-margin{
    margin-bottom: 15px;
}
