.logo{
    background-color: aquamarine;
}
.search{
    background-color: blue;
}
.icons{
    background-color: blueviolet;
}
.videoplayer{
    background-color: darkcyan;
}
.playlist{
    background-color: mediumorchid;
}