
.header {
    padding-top: 10px;
    box-shadow: 0 1px 7px -2px #cccccc;
}
.logo{
}
.search{
}
.icons {
    float: right;
}
.icons ul li{
    display: inline;
    margin: 10px 10px 0px 10px;
}
.icons ul li.avatar{
}
.icons ul {
    float: right;
}
.videoplayer{
}
.playlist{
}
input {
    border-radius: 1px !important;
}
